html {
    background-color: floralwhite;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

  }
  
  a {
    color: navy;
    display: block;
    text-align: center;
    text-decoration: none;
    float: left;
    
  }
  
  li a {
    padding: 16px;
    
    
    
    
  }
  
  a:hover {
    color: lightgrey;
  }
  header {
    border-bottom: thin solid lightgrey;
  }