@font-face {
    font-family: sourceSansPro;
    src: url(sourcesansproregular.ttf)
}

@font-face {
    font-family: sourceSansProSemiBold;
    src: url(sourcesansprosemibold.ttf)
}

body {
    background-color: floralwhite;
    font-family: Arial, Helvetica, sans-serif;
    
    
}

h1, h2, h3, h4, h5, h6 {
    color: navy;
    font-size: 3vw;
    margin: 0% 5%;
}

p, pre {
    color: navy;
    font-size: 1.5vw;
    line-height: 3vw;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0% 5%;
}

header {
    border-bottom: thin solid lightgrey;
}


footer {
    border-top: thin solid lightgrey;
    

}

/* header */

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header ul li {
    color: navy;
    display: inline;
    text-align: center;  
}
  
header ul li a {
    float: left;
    text-decoration: none;
    font-size: 1.5vw;
    cursor: pointer;
    padding: 1rem;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

header ul li a:hover {
    color: lightgrey;
}

/* about */

#about {
    background-image: url("../images/clear-glasses-yellow-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;
    vertical-align: middle;
      
}

#about h1 {
    padding-top: 15vh;
    margin: 0% 5%;
}

#about p {
    padding-bottom: 15vh;
    margin: 0% 5%;
}

/* glasses */

#glasses {
    display: flex;
    flex-direction: row;
    margin: 0% 5%;
}

#elderly-man {
    width: 45vw;
    height: fit-content;
    padding: 2vw;
}

#glasses h1 {
    padding-top: 35vh;
    margin-right: 5%;
}

#glasses p {
    padding-bottom: 15vh;
    margin-right: 5%;
}

/* contact-lenses */

#contact-lenses {
    background-image: url("../images/contact-lenses-white-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;
    vertical-align: middle;
    min-height: 90vh;
}

#contact-lenses h1 {
    padding: 40vh 0vh
}

/* sunglasses */

#sunglasses {
    display: block;
    text-align: center;
}

#sunglasses ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    vertical-align: middle;
    padding-bottom: 15vh;
}

#sunglasses h1 {
    vertical-align: middle;
    padding-top: 15vh;
}

#sunglasses img {
    width: 25vw;
    height: fit-content;
    padding: 2vw;
    
}

/* eye-health */

#eye-health {
    background-image: url("../images/contact-lenses-black-and-white.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;
    vertical-align: middle;
    display: flex;
    flex-direction: row;
}



#eye-health li, #eye-health p, #eye-health h1 {
    color: yellow;   
}

#eye-health li {
    list-style-type: square;
    width: 60vw;
}
    

#eye-health ul {
    padding: 3vw;
}

#eye-health h1 {
    width: 28vw;
    padding: 3vw;
}


/* contact */

#contact {
    display: flex;
    flex-direction: row;
}

#trading-hours {
    display: block;
    width: 50vw;
    padding-top: 10vh;
    
}

#trading-hours li {
    text-align: center;
}

#trading-hours ul {
    list-style-type: square;
}

#contact h1 {
    width: 50vw;
    padding-top: 10vh;
}

/* footer */

footer p {
    font-size: 1.5vw;
}

@media (min-width: 320px) and (max-width:770px) {
    h1 {
        font-size: 6vw;
    }
    p {
        font-size: 3vw;
    }

    #elderly-man {
        width: 75vw;
        height: fit-content;
        padding: 2vw;
        vertical-align: middle;

    }

    #glasses h1 {
        padding-top: 5vh;
        margin: 5%;
    }
    
    #glasses p {
        padding-bottom: 15vh;
        margin: 5%;
    }

    #glasses {
        flex-direction: column;
    }

    #sunglasses ul {
        flex-direction: column;
    }

    #sunglasses img {
        width: 75vw;
        height: fit-content;
        padding: 2vw;
        vertical-align: middle;
    }

    #eye-health {
        flex-direction: column;
    }

    #eye-health h1 {
        width: 80vw;
        padding: 2vw;
    }

    #eye-health ul {
        width: 100vw;
        padding: 2vw;
        text-align: center;
    }

    #contact h1 {
        width: 80vw;
        padding: 2vw;
    }

    #contact ul {
        width: 100vw;
        padding: 2vw;
        text-align: center;
    }

    #contact {
        flex-direction: column;
    }
}

